@import '~node_modules/modern-normalize/modern-normalize.css';
@import './utils';

body {
  margin: 0;
  padding: 0;
  background: #d9e6f1;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  @include container;
}

.search-form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-form input[type='text'] {
  width: 200px;
  padding: 10px 35px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-form input[type='text']:focus {
  outline: none;
  border-color: #6cb2eb;
  box-shadow: 0 0 5px #6cb2eb;
}

.search-form button[type='submit'] {
  margin: 0;
  background-color: #6cb2eb;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.search-form button[type='submit']:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.gallery {
  @include grid;
  justify-content: center;
  margin: 20px 0;
}
.card-wrapper {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.photo-card {
  max-width: 260px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 25px rgba(27, 30, 52, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 200ms;
  background: linear-gradient(135deg, #bdd6ea, #6cb2eb);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.02);
  }
}

.photo-link {
  display: block;
  height: 100%;
}

.photo-wrapper {
  width: 240px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.photo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% top;
}

.btn {
  background-color: #6cb2eb;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: rgb(0, 0, 0);
  padding: 20px 24px;
}

.info-item__styles {
  display: flex;
  flex-direction: column-reverse;

  align-items: center;

  gap: 4px;
  text-decoration: none;
  font-size: 16px;
}
